body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #3f6ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-container {
	background-color: #fff;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	width: 300px;
	text-align: center;
}

.login-container h2 {
	margin-bottom: 1rem;
	color: #333;
}

.login-container label {
	display: block;
	margin-bottom: 0.5rem;
	color: #333;
	text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login-container input[type="submit"] {
	background-color: #3f6ccc;
	color: #fff;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.login-container input[type="submit"]:hover {
	background-color: #7790ff;
}

.login-options {
	margin-top: 1rem;
}

.login-options a {
	display: block;
	color: #333;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.login-options a:hover {
	text-decoration: underline;
}